

h1{
text-align: left;
}
 th, td{
    border: 1px solid black;
    border-collapse: collapse;

  }

  table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;  
  }
  .btn{
    border-radius: 0rem;
  }